.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
.description{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}
.avatar{
    display: block;
    background-color: gray;
    border-radius: 100%;
    width: 200px;
    margin: 50px;
}
.name{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}
.tag{
    font-size: 20px;
    color: #8c8c8c;
}
.location{
    font-size: 20px;
    color: #8c8c8c;
    margin-bottom: 50px;
}
.stats{
    background-color: #e8eefa;
    width: 350px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
li{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #d3d3d3;
    border-top: 2px solid #d3d3d3;
    padding: 15px;
}
.label{
    font-size: 20px;
    color: #8c8c8c;
}
.quantity{
    font-size: 22px;
    font-weight: 500;
}
